.pagination {
    margin: 8rem 0 5rem;
    
    display: flex;
    justify-content: center;
    align-items: center;

    .hidden {
        display: none;
    }

    li {        
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 1rem;

        span {
            font-size: 1.4rem;
            color: var(--text-color-01);  
            cursor: pointer;     
        }
    }

    .active {
        span {
            font-weight: 600;
            color: var(--point-color-01);
        }
    }
}

