.form-control {
  display: flex;
  flex-direction: column;
  
  .input-wrapper {
    position: relative;
    display: flex;
    min-width: 30rem;
    border: 1px solid var(--border-gray);
    border-radius: 0.5rem;
    overflow: hidden;

    &-error {
      border: 1px solid var(--color-red);
    }
  }
  
  .label {
    display: inline-block;
    margin-bottom: 0.7rem;
    color: var(--dark-blue-gray);
    font-size: 1.25rem;
    font-weight: 500;
    line-height: 1.25;
    color: var(--text-color-01);
 
    // 접근성 감춤 설정
    // display: none;
    // 처리를 해버리면 화면상에 출력 X
    // 검색 봇이 이 태그 요소를 인식하지 못함.
    // 크롤링시 검색 봇이 읽을 수 있도록 display: none;은 쓰지않음.
    &-hidden {
      position: absolute;
      clip-path: circle(0);
      width: 1px;
      height: 1px;
      margin: -1px;
      border: 0;
      padding: 0;
    }
  }

  .input {
    width: 100%;
    height: 100%;
    min-height: 4rem;
    padding: 0 0.875rem;
    font-size: 1.25rem;
    line-height: 1.2;
    color: var(--black);
    background: var(--white);
    border: 0 !important;
    margin: 0;
    box-sizing: border-box;
  
    &::placeholder {
      color: var(--dark-gray);
    }

    &:read-only {
      color: var(--dark-gray);
    }

    &[disabled] {
      cursor: not-allowed;
      color: var(--dark-gray);
    }      
    
    &:focus {
      outline: none;
      border: 0;
    }
  }

  .format-price {
      position: absolute;
      color: var(--blue-gray);
      top: 50%;
      transform: translateY(-50%);
      left: 0.5rem;
  }
  
  .password-btn {
    cursor: pointer;
    border: 0;
    padding: 0;
    display: flex;
    align-items: center;
    padding: 0 0 0 0.1rem;
    height: 100%;

    &[disabled] {
      cursor: not-allowed;
    }

    img {
      vertical-align: middle;
    }
  }

  .error {
    color: var(--red);
    font-size: 15px;
    margin-top: 10px;
    margin-left: 10px;
  }

  .input-error {
      border: 1px solid var(--red);        
  }
  .input-error:focus {
      border: 2px solid var(--dark-red);        
  }
}