.section {
  display: grid;
  height: calc(100vh - 56px);
  place-items: center;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 16px;
  min-width: 350px;
}

.testAccount {
  margin-bottom: 8px;
  h3 {
    font-size: 1rem;
    font-weight: 600;
    margin-bottom: 2px;
  }
  p {
    font-size: 0.95rem;
    color: #888;
    margin-bottom: 2px;
  }
}

.title {
  font-size: 1.5rem;
  font-weight: 700;
  margin-bottom: 4px;
}

.textCenter {
  text-align: center;
}

.textGray {
  color: #9ca3af;
}

.link {
  color: #000;
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
} 