.sidebar {
  width: 220px;
  background: #222;
  color: white;
  padding: 20px;
  min-height: 100vh;

  ul {
    list-style: none;
    padding: 0;
  }
}


.item {
  display: flex;
  align-items: center;
  padding: 10px;
  margin: 5px 0;
  cursor: pointer;
  transition: background 0.3s;
  
  
  &:hover {
    background: #333;
  }
}

.icon {
  margin-right: 0.7rem;
}
