@use '@/styles/helpers' as *;

:root {
  --font-family: #{$font-family};
  --background: #ffffff;
  --foreground: #0a0a0a;

  --dark-blue: #{$dark-blue};
  --light-blue: #{$light-blue};

  --light-gray: #{$light-gray};
  --dark-gray: #{$dark-gray};
  --border-gray: #{$border-gray};
  --table-border-gray: #{$table-border-gray};

  --color-white: #{$color-white};
  --color-black: #{$color-black};
  --color-red: #{$color-red};
  --color-primary: #{$color-primary};
  --color-secondary: #{$color-secondary};

  --box-shadow: #{$box-shadow};
}

// 테마
:root {
  @each $key, $val in $light-theme {
    --#{$key}: #{$val};
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    @each $key, $val in $dark-theme {
      --#{$key}: #{$val};
    }
    color-scheme: dark;
  }
}

html {
  font-size: 10px;
}

html,
body {
  max-width: 100vw;
}

body {
  overflow-x: hidden;
  font-size: clamp(1rem, 1rem + 1vw, 1.7rem);
  color: var(--foreground);
  background: var(--main-color-03);
  font-family: var(--font-family);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

a {
  color: inherit;
  text-decoration: none;
}


table {
  border-collapse: collapse;
  width: 100%;
  font-size: 1.4rem;

  thead {
    border-top: 2px solid var(--light-blue);
    border-bottom: 2px solid var(--light-blue);
  }

  th {
    border: 1px solid var(--table-border-gray);
  }

  th,
  td {
    vertical-align: top;
    text-align: left;
    padding: 8px;

    &.icons {
      > * {
        margin-right: 5px;
        cursor: pointer;
      }
    }
  }

  tr {
    border-bottom: 1px solid var(--border-gray);
    cursor: pointer;
  }

  tr:nth-child(even) {
    background-color: var(--table-border-gray);
  }
}
