.list-root {
  width: 100%;
  padding: 2rem;
}

.list-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 2.4rem;
}

.list-title {
  font-size: 2rem;
  font-weight: 700;
  color: var(--text-color-01);
}

.add-buy-btn {
  background: var(--btn-color-04);
  color: var(--btn-text-color-04);
  border: none;
  border-radius: 6px;
  padding: 0.5rem 1.2rem;
  font-size: 1rem;
  font-weight: 600;
  cursor: pointer;
  margin-right: 0.5rem;
  transition: all 0.2s ease;

  &:hover,
  &:focus {
    background: var(--btn-point-color-04);
    transform: translateY(-1px);
  }
}

.list-table {
  border-collapse: collapse;
  width: 100%;
  font-size: 1.4rem;
  color: var(--text-color-01);
}

.list-thead {
  border-top: 2px solid var(--main-color-01);
  border-bottom: 2px solid var(--main-color-01);
}

.list-th {
  color: var(--text-color-01);
  font-weight: 600;
  
}

.list-td {
  border: 1px solid var(--main-color-01);
}

.list-th,
.list-td {
  text-align: center;
  vertical-align: top;
  padding: .7rem 1.5rem;
}

.list-th:first-child,
.list-td:first-child {
  border-left: none;
}

.list-th:last-child,
.list-td:last-child {
  border-right: none;
}

.list-td-company {
  text-align: left;
}
// 숫자 값만 오른쪽 정렬
.list-td-price,
.list-td-quantity,
.list-td-total-price {
  text-align: right;
}

.list-td-empty {
  padding: 5rem 0;
}

.list-td.icons > * {
  margin-right: 5px;
  cursor: pointer;
}

.list-tr {
  border-bottom: none;
}

.list-tr:nth-child(even) {
  background-color: var(--main-color-02);
}

.view-btn {
  background: var(--btn-color-05);
  color: var(--btn-text-color-05);
  border: none;
  border-radius: 6px;
  padding: 0.5rem 1.2rem;
  font-size: 1rem;
  font-weight: 600;
  cursor: pointer;
  margin-right: 0.5rem;
  transition: all 0.2s ease;
  &:hover,
  &:focus {
    background: var(--btn-point-color-05);
    transform: translateY(-1px);
  }
}

.buy-btn {
  background: var(--btn-color-04);
  color: var(--btn-text-color-04);
  border: none;
  border-radius: 6px;
  padding: 0.5rem 1.2rem;
  font-size: 1rem;
  font-weight: 600;
  cursor: pointer;
  margin-right: 0.5rem;
  transition: all 0.2s ease;
  &:hover,
  &:focus {
    background: var(--btn-point-color-04);
    transform: translateY(-1px);
  }
}

.sell-btn {
  background: var(--btn-color-05);
  color: var(--btn-text-color-05);
  border: none;
  border-radius: 6px;
  padding: 0.5rem 1.2rem;
  font-size: 1rem;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.2s ease;

  &:hover,
  &:focus {
    background: var(--btn-point-color-05);
    transform: translateY(-1px);
  }
}

.popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1000;
}