@use '../../styles/helpers' as *;

.container {    
    min-height: 100vh;
    background: var(--background);
    margin-left: auto;
    margin-right: auto;
  
    @include pc {
        max-width: $width-xl;
        padding: $container-pd-xl;
    }

    @include tablet {
        max-width: $width-lg;
        padding: $container-pd-lg;
    }

    @include mobile {
        max-width: $width-md;
        padding: $container-pd-md;
    }
  }